body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    scrollbar-width: 0;
    overflow: hidden;
    background-color: black;
    z-index: 0;
}
header {
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 100px;
    border-radius: 0 0 0 50%;
    background: linear-gradient(45deg, transparent, transparent, white);
    transition: 1s ease;
    z-index: 2;
}
header:hover {
    width: 250px;
    height: 250px;
    background: linear-gradient(45deg, transparent, transparent, transparent, white, white);
    z-index: 3;
}
menu {
    display: none;
    width: 2%;
    height: 2%;
    margin-top: -10%;
    margin-left: 110%;
    transition: .7s ease-in-out; 
}
header:hover>menu {
    display: block;
    position: absolute;
    top: 10%;
    right: -0;
    width: 40%;
    height: 40%;
    font-size: 5em;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: 1.5s ease texte forwards;
    text-shadow: 1px 1px 2px hsla(0, 0%, 0%, .8);
}
@keyframes texte {
    from {
        transform: rotate(-180deg);
    }
    to {
        transform: rotate(180deg);
    }
}
div {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(transparent, hsla(0, 0%, 0%, .6));
    z-index: 1;
}
main {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-clip: content-box;
    background-size: cover;
    filter: contrast(1.1) saturate(1.1);
    animation: 850s ease-in-out slideshow infinite;
    z-index: 0;
}
@keyframes slideshow {
    0% {
        background-image: url('media/img/Capture\ d’écran\ du\ 2022-08-30\ 22-25-02.png');
        background-position: center;
    }
    1% {
        background-image: url('media/img/Capture\ d’écran\ du\ 2022-08-30\ 22-25-02.png');
        background-position: left;
        transform: scale(1.2);
        filter: none;
    }
    2% {
        background-image: url('media/img/IMG_0106.JPG');
        background-position: center;
        transform: scale(1.2);
    }
    3% {
        background-image: url('media/img/IMG_0106.JPG');
        background-position: left;
        transform: scale(1);
    }
    4% {
        background-image: url('media/img/reemploi.jpeg');
        background-position: top;
        transform: scale(1.4);
    }
    5% {
        background-image: url('media/img/reemploi.jpeg');
        background-position: left;
        transform: scale(1);
    }
    6% {
        background-image: url('media/img/CMFS4144.JPG');
        background-position: left;
        transform: scale(1.2);
    }
    7% {
        background-image: url('media/img/CMFS4144.JPG');
        background-position: right;
        transform: scale(1);
    }
    8% {
        background-image: url('media/img/EWRC7782.JPG');
        background-position: right;
        transform: scale(1);
    }
    9% {
        background-image: url('media/img/EWRC7782.JPG');
        background-position: left;
        transform: scale(1.2);
    }
    10% {
        background-image: url('media/img/f11963392.jpg');
        background-position: left;
        transform: scale(1.2);
    }
    11% {
        background-image: url('media/img/f11963392.jpg');
        background-position: right;
        transform: scale(1);
    }
    12% {
        background-image: url('media/img/f12017664.jpg');
        background-position: left;
        transform: scale(1.2);
    }
    13% {
        background-image: url('media/img/f12017664.jpg');
        background-position: right;
        transform: scale(1);
    }
    14% {
        background-image: url('media/img/f14404352.jpg');
        background-position: left;
        transform: scale(1.2);
    }
    15% {
        background-image: url('media/img/f14404352.jpg');
        background-position: right;
        transform: scale(1);
    }
    16% {
        background-image: url('media/img/f14413312.jpg');
        background-position: left;
        transform: scale(1.2);
    }
    17% {
        background-image: url('media/img/f14413312.jpg');
        background-position: right;
        transform: scale(1);
    }
    18% {
        background-image: url('media/img/f25030144.jpg');
        background-position: left;
        transform: scale(1.2);
    }
    19% {
        background-image: url('media/img/f25030144.jpg');
        background-position: right;
        transform: scale(1);
    }
    20% {
        background-image: url('media/img/f38179840.jpg');
        background-position: left;
        transform: scale(1.2);
    }
    21% {
        background-image: url('media/img/f38179840.jpg');
        background-position: right;
        transform: scale(1);
    }
    22% {
        background-image: url('media/img/f38206720.jpg');
        background-position: left;
        transform: scale(1.2);
    }
    23% {
        background-image: url('media/img/f38206720.jpg');
        background-position: right;
        transform: scale(1);
    }
    24% {
        background-image: url('media/img/f38255872.jpg');
        background-position: left;
        transform: scale(1.2);
    }
    25% {
        background-image: url('media/img/f38255872.jpg');
        background-position: right;
        transform: scale(1);
    }
    26% {
        background-image: url('media/img/f38460416.jpg');
        background-position: left;
        transform: scale(1.2);
    }
    27% {
        background-image: url('media/img/f38460416.jpg');
        background-position: right;
        transform: scale(1);
    }
    28% {
        background-image: url('media/img/f38470656.jpg');
        background-position: left;
        transform: scale(1.2);
    }
    29% {
        background-image: url('media/img/f38470656.jpg');
        background-position: right;
        transform: scale(1);
    }
    30% {
        background-image: url('media/img/f38492928.jpg');
        background-position: left;
        transform: scale(1.2);
    }
    31% {
        background-image: url('media/img/f38492928.jpg');
        background-position: right;
        transform: scale(1);
    }
    32% {
        background-image: url('media/img/f38789888.jpg');
        background-position: left;
        transform: scale(1.2);
    }
    33% {
        background-image: url('media/img/f38789888.jpg');
        background-position: right;
        transform: scale(1);
    }
    34% {
        background-image: url('media/img/f38800128.jpg');
        background-position: left;
        transform: scale(1.2);
    }
    35% {
        background-image: url('media/img/f38800128.jpg');
        background-position: right;
        transform: scale(1);
    }
    36% {
        background-image: url('media/img/f38834432.jpg');
        background-position: left;
        transform: scale(1.2);
    }
    37% {
        background-image: url('media/img/f38834432.jpg');
        background-position: right;
        transform: scale(1);
    }
    38% {
        background-image: url('media/img/f38844416.jpg');
        background-position: left;
        transform: scale(1.2);
    }
    39% {
        background-image: url('media/img/f38844416.jpg');
        background-position: right;
        transform: scale(1);
    }
    40% {
        background-image: url('media/img/f4490240.jpg');
        background-position: left;
        transform: scale(1.2);
    }
    41% {
        background-image: url('media/img/f4490240.jpg');
        background-position: right;
        transform: scale(1);
    }
    42% {
        background-image: url('media/img/f45590272.jpg');
        background-position: left;
        transform: scale(1.2);
    }
    43% {
        background-image: url('media/img/f45590272.jpg');
        background-position: right;
        transform: scale(1);
    }
    44% {
        background-image: url('media/img/f45684736.jpg');
        background-position: left;
        transform: scale(1.2);
    }
    45% {
        background-image: url('media/img/f45684736.jpg');
        background-position: right;
        transform: scale(1);
    }
    46% {
        background-image: url('media/img/f45804800.jpg');
        background-position: left;
        transform: scale(1.2);
    }
    47% {
        background-image: url('media/img/f45804800.jpg');
        background-position: right;
        transform: scale(1);
    }
    48% {
        background-image: url('media/img/ibep1.jpeg');
        background-position: left;
        transform: scale(1.2);
    }
    49% {
        background-image: url('media/img/ibep1.jpeg');
        background-position: right;
        transform: scale(1);
    }
    50% {
        background-image: url('media/img/ibep2.jpeg');
        background-position: left;
        transform: scale(1.2);
    }
    51% {
        background-image: url('media/img/ibep2.jpeg');
        background-position: right;
        transform: scale(1);
    }
    52% {
        background-image: url('media/img/IMG_0830.JPG');
        background-position: left;
        transform: scale(1.2);
    }
    53% {
        background-image: url('media/img/IMG_0830.JPG');
        background-position: right;
        transform: scale(1);
    }
    54% {
        background-image: url('media/img/IMG_5150.JPG');
        background-position: left;
        transform: scale(1.2);
    }
    55% {
        background-image: url('media/img/IMG_5150.JPG');
        background-position: right;
        transform: scale(1);
    }
    56% {
        background-image: url('media/img/IMG_5248.JPG');
        background-position: left;
        transform: scale(1.2);
    }
    57% {
        background-image: url('media/img/IMG_5248.JPG');
        background-position: right;
        transform: scale(1);
    }
    58% {
        background-image: url('media/img/IMG_5285.JPG');
        background-position: left;
        transform: scale(1.2);
    }
    59% {
        background-image: url('media/img/IMG_5285.JPG');
        background-position: right;
        transform: scale(1);
    }
    60% {
        background-image: url('media/img/IMG_6038.JPG');
        background-position: left;
        transform: scale(1.2);
    }
    61% {
        background-image: url('media/img/IMG_6038.JPG');
        background-position: right;
        transform: scale(1);
    }
    62% {
        background-image: url('media/img/IMG_6066.JPG');
        background-position: left;
        transform: scale(1.2);
    }
    63% {
        background-image: url('media/img/IMG_6066.JPG');
        background-position: right;
        transform: scale(1);
    }
    64% {
        background-image: url('media/img/IMG_6146.JPG');
        background-position: left;
        transform: scale(1.2);
    }
    65% {
        background-image: url('media/img/IMG_6146.JPG');
        background-position: right;
        transform: scale(1);
    }
    66% {
        background-image: url('media/img/IMG_6306.JPG');
        background-position: left;
        transform: scale(1.2);
    }
    67% {
        background-image: url('media/img/IMG_6306.JPG');
        background-position: right;
        transform: scale(1);
    }
    68% {
        background-image: url('media/img/IMG_6383.JPG');
        background-position: left;
        transform: scale(1.2);
    }
    69% {
        background-image: url('media/img/IMG_6383.JPG');
        background-position: right;
        transform: scale(1);
    }
    70% {
        background-image: url('media/img/IMG_6441.JPG');
        background-position: left;
        transform: scale(1.2);
    }
    71% {
        background-image: url('media/img/IMG_6441.JPG');
        background-position: right;
        transform: scale(1);
    }
    72% {
        background-image: url('media/img/IMG_6452.JPG');
        background-position: left;
        transform: scale(1.2);
    }
    73% {
        background-image: url('media/img/IMG_6452.JPG');
        background-position: right;
        transform: scale(1);
    }
    74% {
        background-image: url('media/img/IMG_6458.JPG');
        background-position: left;
        transform: scale(1.2);
    }
    75% {
        background-image: url('media/img/IMG_6458.JPG');
        background-position: right;
        transform: scale(1);
    }
    76% {
        background-image: url('media/img/IMG_6536.JPG');
        background-position: left;
        transform: scale(1.2);
    }
    77% {
        background-image: url('media/img/IMG_6536.JPG');
        background-position: right;
        transform: scale(1);
    }
    78% {
        background-image: url('media/img/IMG_6540.JPG');
        background-position: left;
        transform: scale(1.2);
    }
    79% {
        background-image: url('media/img/IMG_6540.JPG');
        background-position: right;
        transform: scale(1);
    }
    80% {
        background-image: url('media/img/IMG_6576.JPG');
        background-position: left;
        transform: scale(1.2);
    }
    81% {
        background-image: url('media/img/IMG_6576.JPG');
        background-position: right;
        transform: scale(1);
    }
    82% {
        background-image: url('media/img/IMG_6603.JPG');
        background-position: left;
        transform: scale(1.2);
    }
    83% {
        background-image: url('media/img/IMG_6603.JPG');
        background-position: right;
        transform: scale(1);
    }
    84% {
        background-image: url('media/img/IMG_6605.JPG');
        background-position: left;
        transform: scale(1.2);
    }
    85% {
        background-image: url('media/img/IMG_6605.JPG');
        background-position: right;
        transform: scale(1);
    }
    86% {
        background-image: url('media/img/IMG_6809.JPG');
        background-position: left;
        transform: scale(1.2);
    }
    87% {
        background-image: url('media/img/IMG_6809.JPG');
        background-position: right;
        transform: scale(1);
    }
    88% {
        background-image: url('media/img/IMG_6853.JPG');
        background-position: left;
        transform: scale(1.2);
    }
    89% {
        background-image: url('media/img/IMG_6853.JPG');
        background-position: right;
        transform: scale(1);
    }
    90% {
        background-image: url('media/img/IMG_6894.JPG');
        background-position: left;
        transform: scale(1.2);
    }
    91% {
        background-image: url('media/img/IMG_6894.JPG');
        background-position: right;
        transform: scale(1);
    }
    92% {
        background-image: url('media/img/IMG_7112.JPG');
        background-position: left;
        transform: scale(1.2);
    }
    93% {
        background-image: url('media/img/IMG_7112.JPG');
        background-position: right;
        transform: scale(1);
    }
    94% {
        background-image: url('media/img/oblique_sur.png');
        background-position: left;
        transform: scale(1.2);
    }
    95% {
        background-image: url('media/img/oblique_sur.png');
        background-position: right;
        transform: scale(1);
    }
    96% {
        background-image: url('media/img/ouvertures.png');
        background-position: left;
        transform: scale(1.2);
    }
    97% {
        background-image: url('media/img/ouvertures.png');
        background-position: right;
        transform: scale(1);
    }
    98% {
        background-image: url('media/img/capture_clonage.png');
        background-position: left;
        transform: scale(1.2);
    }
    99% {
        background-image: url('media/img/capture_clonage.png');
        background-position: right;
        transform: scale(1);
    }
    100% {
        background-image: url('media/img/_MG_0106.JPG');
        background-position: center;
    }
}

